:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --secondary-accent-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Logo */
.logo {
  color: var(--primary-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-text-color);
}
.footer-accent {
  color: var(--secondary-accent-color);
}

/*Site nav*/

.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link .current {
  color: var(--accent-text-color);
}

.contact-nav .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-text-color);
}

.contact-nav .link .current {
  color: var(--accent-text-color);
}

/*Hero*/
.hero {
  background-color: var(--background-color);

  text-align: center;
}
.hero-title {
  color: var(--secondary-accent-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

/*Features*/

.title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  padding-bottom: 10px;
}
.text {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.7;
}

/*Examples and Team*/
.team-section {
  background-color: var(--secondary-background-color);
}
.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  padding-bottom: 50px;
}

.title.team {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: none;
}

.image-team {
  padding-bottom: 30px;
}

.work-list {
  margin-bottom: 94px;
}
/*Button*/

.button {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button.primary {
  color: var(--secondary-accent-color);
  background-color: var(--accent-text-color);

  padding: 10px 32px;
  min-width: 200px;

  margin-bottom: 200px;
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  padding: 6px 22px;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--secondary-accent-color);
  background-color: var(--accent-text-color);
}

/* Footer */
a {
  text-decoration: none;
}

.footer {
  background-color: var(--background-color);
  color: var(--secondary-accent-color);

  font-size: 26px;
  text-decoration: none;
}

.address {
  color: var(--secondary-accent-color);

  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.mail,
.phone {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.7;
}

/* Portfolio */
.portfolio-title {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.9;

  margin-top: 20px;
  margin-bottom: 4px;
}

.portfolio-text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.9;

  padding-bottom: 20px;
}
.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: 1px;
}
