:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --secondary-accent-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Logo */
.logo {
  color: var(--primary-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-text-color);
}
.footer-accent {
  color: var(--secondary-accent-color);
}

/*Site nav*/
.list {
  list-style: none;
}
.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link .current {
  color: var(--accent-text-color);
}

.contact-nav .link {
  color: var(--secondary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-text-color);
}

.contact-nav .link .current {
  color: var(--accent-text-color);
}

/*Hero*/
.hero-title {
  color: var(--secondary-accent-color);
  background-color: var(--background-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*Features*/

.title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
.text {
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.7;
}

/*Examples and Team*/
.team-section {
  background-color: var(--secondary-background-color);
}
.section-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/*Button*/

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button .secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--secondary-accent-color);
  background-color: var(--accent-text-color);
}
.button.primary {
  color: var(--secondary-accent-color);
  background-color: var(--accent-text-color);
}

/* Footer */
a {
  text-decoration: none;
}

.footer {
  background-color: var(--background-color);
  color: var(--secondary-accent-color);

  font-size: 26px;
  text-decoration: none;
}

.address {
  color: var(--secondary-accent-color);

  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.mail,
.phone {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.7;
}

/* Portfolio */
.portfolio-title {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.9;
}

.portfolio-text {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.9;
}
.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: 1px;
}
